body{
    background-color: rgba(166, 216, 215, 0.801);
    justify-content: center;
}
.container{
    display: flex;
    border-radius: 30px;
    width: 625px;
    height:470px;
    background-color: white;
    margin: 100px;
    
}
.container-table{
    margin: 30px;
   
    

}
h2{
    color: rgba(24, 137, 230, 0.959);
}
h1{ color: white;}

 label{
    color: rgb(61, 108, 248);
    font-size: large; }
input{
    border: none;
    border-bottom: 1px solid black ;
    outline: none;
   width: 235px;
}
button{
    background-color: rgba(4, 21, 72, 0.886);
    color: white;
    border-radius: 30px;
    
    width: 95px;
    height: 40px;
}
.Details{
    width: 550px;
    height: 410px;
    background-color: rgba(39, 77, 108, 0.719);
    border-radius: 30px;
    padding: 30px;
    margin-left: 17px;

}
td{color: rgb(253, 248, 248);
    padding: 10px 10px;
}

